.header {
    height: 60px;
    border-bottom: 1px solid var(--mantine-color-dark-4);
    background-color: var(--mantine-color-body);
}

.inner {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    display: block;
    line-height: 1;
    padding: 8px 12px;
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: var(--mantine-color-dimmed);
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;
    transition: all 200ms ease;
}

.link:hover {
    background-color: var(--mantine-color-dark-6);
    color: var(--mantine-color-white);
}

.link[data-active] {
    background-color: var(--mantine-color-blue-light);
    color: var(--mantine-color-blue-light-color);
}